<nav class="navbar navbar-default" role="navigation">
    <ul class="navbar navbar-nav">
        <li>Home</li>
    </ul>
    <ul class="navbar navbar-nav navbar-right">
        <li>About</li>
    </ul>
</nav>